services:
  - type: web
    name: dubizzle-clone-backend
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_FILENAME
        value: .tmp/data.db # Ignored but keeps Strapi happy if it checks
